@model MvcMusicStore.Models.Genre
 
@{
    ViewBag.Title = "Browse Albums";
}

@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".album-hover-parent").mouseover(function () {
                var $popUpSelector = $(this).find(".album-hover-popup");
                var $parentSelector = $(this);
                $popUpSelector.show();
                var parentX = $parentSelector.offset().left;
                var parentY = $parentSelector.offset().top;
                var parentWidth = $parentSelector.width();
                $popUpSelector.css("top", parentY);
                $popUpSelector.css("left", parentX + parentWidth + 20);
                console.log();
            });
            $(".album-hover-parent").mouseout(function () {
                $(this).find('.album-hover-popup').hide();
            });
        });
    </script>

}
 
<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
 
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li class="album-hover-parent">
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
                <div class="album-hover-popup">
                    @{Html.RenderPartial("DetailsPartial", album);}
                </div>
            </li>
        }
    </ul>
</div>

